@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@1,100;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.semi-nav {
  display: none;
}

.nav-bar {
  display: none;
}

.overlay {
  background-color: #40312a;
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  bottom: 0;
  right: 0;
  display: none;
}

.main-menu {
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  padding-left: 60px;
  gap: 20px;
}

.menu-item {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.cancel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  right: 2%;
  padding: 8px;
}

.hide {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.bars img {
  margin: 15px;
}

.header-body {
  background-image: url(Images/bg-01.jpg);
  width: 100%;
  height: 90vh;
}

.header-text {
  padding: 5%;
}

.header-h2 {
  font-size: 28px;
  color: #a9962b;
}

.header-h1 {
  color: #a9962b;
  font-size: 22px;
}

.summary {
  text-align: center;
  padding: 2%;
  background-color: #f6f3f3;
  mix-blend-mode: multiply;
  backdrop-filter: blur(1px);
  border: 1px solid wheat;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary h2 {
  font-size: 20px;
  font-weight: 400;
  color: #a9962b;
}

.summary p {
  text-align: center;
  font-weight: 400;
  font-size: 19px;
}

/* mid-part section */

.mid-part {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mid-logo {
  align-self: center;
  padding: 2%;
}

.mid-heading {
  text-align: center;
  color: #a9962b;
}

.activity {
  align-self: center;
  border-bottom: 1px solid #a9962b;
}

.activity h1 {
  font-size: 20px;
  font-weight: 600;
  color: #a9962b;
}

.activity-para p {
  text-align: center;
  padding: 6%;
  font-weight: 500;
  font-size: 18px;
}

.mid-img {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 90%;
  gap: 120px;
}

.mid-img1 {
  width: fit-content;
  width: 100%;
  height: 45vh;
}

.mid-img1 img {
  width: 95%;
}

.mid-img2 {
  width: 95%;
  height: 45vh;
}

.mid-img2 img {
  width: 100%;
}

.footer-section {
  background-color: #3e3e3e;
  margin-top: 80%;
  width: 100%;
  height: 30vh;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.footer-img {
  height: 100px;
  margin: 50px;
  width: 50%;
}

.footer-img img {
  width: 100%;
  margin: 16px;
}

.footer-copy {
  width: 45%;
  margin: 10%;
}

.footer-copy p {
  font-size: 18px;
  font-weight: 600;
}

.cancel a img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .header-section {
    width: 100%;
  }

  .overlay {
    display: none;
  }

  .hide {
    display: none;
  }

  .semi-nav {
    background-color: #3e3e3e;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-right: 5%;
  }

  .semi-nav-items {
    display: flex;
  }

  .semi-nav-items a {
    padding: 10px;
    color: aliceblue;
  }

  .nav-bar {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    height: 80px;
    width: 100%;
    gap: 20%;
  }

  .nav-logo {
    display: flex;
    width: 40%;
    padding: 15px;
    padding-left: 5%;
  }

  .nav-items {
    display: flex;
    padding: 25px;
    width: 60%;
    flex-direction: row-reverse;
    gap: 4%;
  }

  .nav-items li a {
    color: black;
    font-size: 26px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 600;
  }

  .nav-items li a:active {
    color: indianred;
    font-size: 30px;
    font-weight: 700;
  }

  .header-body {
    background-image: url(Images/bg-desktop.png);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding-left: 10%;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .header-h2 {
    color: #ffd700;
    padding-top: 12%;
    font-size: 45px;
    font-weight: 300;
  }

  .header-h1 {
    color: gold;
    font-size: 35px;
    width: 85%;
    font-weight: 800;
  }

  .summary {
    height: 80%;
    margin: 5%;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .summary h2 {
    text-align: center;
    color: yellowgreen;
    font-size: 35px;
  }

  .summary p {
    text-align: center;
    font-size: 22px;
  }

  .summary h3 {
    text-align: center;
    font-size: 22px;
  }

  .summary h4 {
    text-align: center;
    font-size: 24px;
  }

  .mid-part {
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    gap: 25px;
  }

  .mid-logo {
    align-self: center;
    padding-top: 30px;
  }

  .mid-heading {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .mid-heading h1 {
    color: yellowgreen;
    font-size: 34px;
  }

  .mid-heading h3 {
    color: yellowgreen;
    font-size: 28px;
    font-weight: 300;
  }

  .activity {
    border-bottom: 3px solid gold;
    width: fit-content;
    align-self: center;
  }

  .activity h1 {
    font-size: 28px;
    color: goldenrod;
    font-weight: 500;
    text-align: center;
  }

  .activity-para p {
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
  }

  .mid-img {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-self: center;
    margin-top: 2%;
    width: 85%;
    height: 45vh;

    /* padding: 5%; */
  }

  .mid-img1 {
    width: 40%;
    margin: 1%;
    height: 90%;
  }

  .mid-img1 img {
    height: 100%;
    width: 100%;
  }

  .mid-img2 {
    width: 40%;
    margin: 1%;
    height: 90%;
  }

  .mid-img2 img {
    height: 100%;
    width: 100%;
  }

  .footer-section {
    background-color: #775c5c;
    height: 35vh;
    margin-top: 14%;
    width: 100%;
  }

  .footer-img img {
    width: 75%;
    float: left;
    padding: 2%;
  }

  .footer-copy {
    padding: 0%;
    margin: 7%;
  }

  .footer-copy p {
    font-size: 30px;
    font-weight: 600;
    padding: 1%;
  }
}
