* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.header-section {
    width: 100%;
}


.semi-nav {
    background-color: #3e3e3e;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-right: 5%;

}

.semi-nav-items {
    display: flex;
    
}


.semi-nav-items a {
    padding: 10px;
   color: aliceblue;

}


.nav-bar {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    height: 80px;
    width: 100%;
    gap: 20%;
}

.nav-logo {
    display: flex;
    width: 40%;
    padding: 15px;
    padding-left: 5%;


}

.nav-items {

    display: flex;
    padding: 25px;
    width: 60%;
    flex-direction: row-reverse;
    gap: 4%;


}

.nav-items li a {
    color: black;
    font-size: 26px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 600;
}

.nav-items li a:active {
    color: indianred;
    font-size: 30px;
    font-weight: 700;
}

.header-body {
    background-image: url(Images/bg-desktop.png);
    height: 90vh;
    width: 100%;
    padding-left: 10%;

}

.header-text {
    display: flex;
    flex-direction: column;
    height: 40%;
    gap: 7%;
}

.header-h2 {
    color: #ffd700;
    padding-top: 12%;
    font-size: 40px;
    font-weight: 300;

}

.header-h1 {
    color: gold;
    font-size: 26px;
    width: 60%;
    font-weight: 700;
}

.header-para {
  width: 50%;
  padding: 20px;
  margin-top: 5%;
}

.header-para p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

.header-about {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin: 20px;
}
.header-about p{
  font-size: 30px;
  font-weight: 700;
}

.middle {
    height: 200vh;
    width: 100%;
    border: 5px solid greenyellow;
}

.main-program {
    height: 80vh;
    background-image: url(Images/program-pattern.png);
    background-color: #3e3e3e;
    width: 100%;
    border: 5px solid black;
    display: flex;
}